In [61]:
import pandas as pd

df = pd.read_csv("raw_data/VOO_daily_splits_only.csv")

orders = []
with open("trades_log.txt", "r") as f:
    for o in f.readlines()[6:-5]:
        parts = o.split(" ")
        date = pd.to_datetime(parts[0] + " " + parts[1])
        is_buy = parts[2] == "BUY"
        instrument, price = parts[3].split("@")
        price = float(price)

        orders.append({
            "date": date,
            "is_buy": is_buy,
            "instrument": instrument,
            "price": price
        })

orders = pd.DataFrame(orders)
orders.sort_index()

                  date  is_buy instrument   price
0  2023-02-13 20:00:00    True        VOO  379.37
1  2023-02-17 20:00:00   False        VOO  374.25
2  2023-02-17 20:00:00    True         SH   60.60
3  2023-02-23 20:00:00   False         SH   61.64
4  2023-02-23 20:00:00    True         SH   61.64
..                 ...     ...        ...     ...
87 2024-12-18 20:00:00   False        VOO  538.97
88 2024-12-18 20:00:00    True         SH   43.10
89 2024-12-20 20:00:00   False         SH   42.67
90 2024-12-20 20:00:00    True         SH   42.67
91 2024-12-24 20:00:00   False         SH   41.26

[92 rows x 4 columns]